.discounts {
	margin-bottom: 7rem;


	@include media(md) {
		margin-bottom: 10rem;
	}

	@include media(xxl) {
		margin-bottom: 13rem;
	}

	&__wrapper {
		display: flex;
		gap: 2.5rem;
		color: #fff;


		@include media(md) {
			gap: 3rem;
		}
	}

	&__box-img {
		flex-basis: 47.6%;
		flex-shrink: 0;
		position: relative;

		@include media(md) {
			flex-basis: 33%;
		}

		@include media(md) {
			flex-basis: 35.4%;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			display: block;
			object-fit: cover;
		}
	}

	/** discounts__content **/
	&__content {	
		padding-top: 1.4rem;
		padding-right: 1rem;
		padding-bottom: 1.4rem;
		flex-grow: 1;
		position: relative;
		display: grid;
		grid-template-columns: repeat(2, 1fr);	
		row-gap: 2.3rem;
		align-items: center;

		@include media(md) {
			row-gap: 5rem; 
			flex-grow: 1;		
			padding-top: 2.1rem;
			padding-right: 3rem;
			padding-bottom: 4.7rem;
		}

		@include media(xxl){		
			padding-top: 5.2rem;
			padding-right: 15rem;
			padding-bottom: 5.2rem;
			row-gap: 5.5rem; 
		}
	}

	h2 {
		@include font (1.6rem, 1.38, 700, left);
		font-family: "Nunito-Bold", sans-serif;
		color: inherit;
		padding-left: 0;
		grid-column: 1 / 3;
		grid-row: 1 / 2;

		@include media(md) {
			font-size: 3.5rem;
		}

		@include media(xxl) {
			font-size: 5rem;
		}

		&::after {
			display: none;
		}
	}

	h3 {
		@include font (1.4rem, 1.36, 600);
		font-family: "Nunito-SemiBold", sans-serif;
		color: inherit;
		grid-column: 1 / 3;
		grid-row: 2 / 3;

		@include media(md) {
			font-size: 2.5rem;
		}

		@include media(xxl) {
			font-size: 3.5rem;
		}
	}


	p {
		@include font (1rem, 1.4);
		color: inherit;
		grid-column: 1 / 3;
		grid-row: 3 / 4;

		@include media(md) {
			font-size: 1.8rem;
			grid-column: 1 / 2;
			grid-row: 3 / 4;
		}

		@include media(xxl) {
			font-size: 3rem;
		}
	}

	.btn-modal {
		@include font (1rem, 1.4rem, 400);
		font-family: "Roboto-Regular", sans-serif;
		padding: 1rem 2rem;
		width: fit-content;
		height: fit-content;
		text-transform: uppercase;
		grid-column: 1 / 3;
		grid-row: 4 / 5;
		justify-self: start;

		@include media(md) {
			font-size: 1.5rem;
			padding: 2.3rem 2.3rem;
			grid-column: 2 / 3;
			grid-row: 3 / 4;
			justify-self: end;
		}

		@include media(xxl) {
			font-size: 2rem;
			padding: 3.1rem 4rem;	
			justify-self: end;		
		}
	}
} 