.reviews {
	margin-bottom: 7rem;
	color: #fff;

	@include media(md){
		margin-bottom: 10rem;
	}

	@include media(xl){
		margin-bottom: 13rem;
	}

	h2{
		margin-bottom: 4rem;

		@include media(md){
			margin-bottom: 7rem;
		}
	}

	// .reviews__wrapper
	&__wrapper {}

	// .reviews__swiper
	&__swiper {
		overflow: hidden;
	}

	// .reviews__swiper-wrapper
	&__swiper-wrapper {	
	}

	// .reviews__swiper-slide
	&__swiper-slide {
		background-color: #83AEAD;	
		border-radius: 5px;
		padding: 19rem 3.5rem 2.2rem;
		position: relative;	
		width: auto;
		height: auto;		

		@include media (md) {	
			padding: 16rem 3rem 3rem;
		}
		
		@include media (xl) {	
			padding: 18rem 6rem 4rem;
		}

		&:after {
			@include pseudo;
			@include wh (8rem);
			@include pos (absolute, $top: 2.3rem, $left: 3.5rem);
			@include background (url(../img/icons/left-quote.svg));

			@include media (md){
				top: 2rem;
				left: 3rem;
			}

			@include media (xl){
				top: 4rem;
				left: 6rem;
			}
		}
	}

	// .reviews__content
	&__content {
		h3 {
			@include font (1.5rem, 1.33, $text-align: left);
			margin-bottom: 2rem;			

			@include media (md) {
				font-size: 2rem;			
			}

			@include media (xl) {
				font-size: 2.4rem;			
			}
		}

		p {
			@include font (1.2rem, 1.33);		
			margin-bottom: 1rem;
			color:inherit;
			//max-width: 41rem;		

			@include media (md) {
				font-size: 1.6rem;			
				margin-bottom: 1.8rem;
			}

			@include media (xl) {
				font-size: 2rem;	
				margin-bottom: 2rem;		
			}
		}
	}

	// .reviews__personals
	&__personals {
		@include flex ();
		gap: 2rem;

	}

	// .reviews__img
	&__img {
		@include wh (6rem);
		border-radius: 50%;
	}

	// .reviews__user
	&__user {
		p {
			@include font (1.4rem, 1.36);
			color: rgba(255, 255, 255, 0.8);

			@include media (md) {
				font-size: 1.8rem;
			}
		}
	}



	.btns {
		font-size: 1.4rem;
		max-width: 13.7rem;

		@include media(md){
			font-size: 1.8rem;
			max-width: 16.7rem;
		}

		&.next {
			&::after{
				right: -2rem;
				width: 18%;
				height: 0.6rem;
		
				@include media(md){
					right: -4rem;
					width: 4.4rem;
					height: 1.6rem;
				}
			}
		}

		&.prev {
			&::after {
				transform: rotate(180deg);
				width: 18%;
				height: 0.6rem;
				right: 0;
				left: -2rem;
				top: calc(50% - 0.3rem);

				@include media(md){
					left: -4rem;
					width: 4.4rem;
					height: 1.6rem;
					top: calc(50% - 0.8rem);
				}
			}
		}
	}

	.next.swiper-button-disabled,
	.prev.swiper-button-disabled {
		opacity: 0;

		&:hover {
			background: rgba(26, 34, 36, 0.8);
			transition: all 0.3s;
		}
	}

	&__buttons {
		display: flex;
		justify-content: space-between;
		padding: 0 2rem;
		margin-top: 2rem;

		@include media (md){
			padding: 0 4rem;
		}
	}
}

.reviews {

	// .reviews__wrapper
	&__wrapper {}

	// .reviews__swiper
	&__swiper {}

	// .reviews__swiper-wrapper
	&__swiper-wrapper {}

	// .reviews__swiper-slide
	&__swiper-slide {}

	// .reviews__content
	&__content {}

	// .reviews__personals
	&__personals {}

	// .reviews__img
	&__img {}

	// .reviews__user
	&__user {}

	// .reviews__buttons
	&__buttons {}
}