section.stagesOfWork
  .container
    h2 Этапы работы
    .stagesOfWork__items
      .stagesOfWork__item
        .stagesOfWork__item-img               
          img(src="./wp-content/themes/factory_windows/assets/img/icons/stagesOfWork-1.png")          
        h5.stagesOfWork__item-title Замер
        p.stagesOfWork__item-text Замерщик выезжает на дом и делает замеры бесплатно
      .stagesOfWork__item
        .stagesOfWork__item-img
          img(src="./wp-content/themes/factory_windows/assets/img/icons/stagesOfWork-2.png")    
        h5.stagesOfWork__item-title Доставка
        p.stagesOfWork__item-text Бесплатная доставка в самые короткие сроки
      .stagesOfWork__item
        .stagesOfWork__item-img
          img(src="./wp-content/themes/factory_windows/assets/img/icons/stagesOfWork-3.png")    
        h5.stagesOfWork__item-title Оплата
        p.stagesOfWork__item-text Вы оплачиваете только по окончанию работы
