.footer {

	// .footer__content
	&__content {
		width: 100%;
		background-color: #83AEAD;
		padding: 7.4rem 0 4.1rem;
	}

	// .footer__wrapper
	&__wrapper {
		display: grid;
		grid-template-columns: repeat(3fr);
		column-gap: 4rem;
		width: 100%;

		@media(max-width:413px) {
			display: flex;
			flex-direction: column;
			gap: 2rem;
		}

		@include media (xl) {
			gap: 5rem;
		}
	}

	// .footer__flex
	&__flex {
		@include flex ($flex-direction: column);

		@media(max-width:413px) {
			align-items: center;
		}

		h5.footer__item-title {
			@include font(1.2rem, 1.33, 700);
			font-family: "Nunito-Bold", sans-serif;
			color: #000000;
			margin-bottom: 1.8rem;
		}

		h5.footer__item-title.footer__item-title--last-child {
			font-size: 1.5rem;
		}
	}

	&__flex ul {
		display: flex;
		gap: .8rem;
	}

	&__flex:last-child {
		grid-column-start: 1;
		grid-column-end: 4;
		grid-row-start: 2;
		grid-row-end: 3;
		justify-self: center;
		padding-top: 3.2rem;
		align-items: center;

		@media(max-width:413px) {
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 2;
			grid-row-end: 3;
		}
	}

	li,
	a {
		@include font (1rem, 1.4, 400);
		font-family: "Nunito-Regular", sans-serif;
		color: rgba(47, 59, 63, 0.8);
		transition: all 0.4s;
	}

	a {

		&:hover,
		&:focus {
			color: rgba(47, 59, 63, 0.8);
			transition: all 0.4s;
		}
	}

	svg {
		fill: transparent;
		stroke: #2F3B3F;
		@include wh (100%);
		transition: all 0.5s;
	}

	a {
		width: 100%;

		// span {
		// 	display: none;

		// 	@media (min-width: 1024px) {
		// 		display: inline;
		// 	}
		// }
	}



	// .footer__about
	&__about {
		@include flex ($flex-direction: column);
		gap: 2rem;

		li {
			&:first-child {
				display: none;

				a {
					border-bottom: 1px solid rgba(47, 59, 63, 0.8);
					transition: all 0.4s;
					width: auto;

					&:hover,
					&:focus {
						border-bottom: 1px solid transparent;
						transition: all 0.4s;
					}
				}
			}
		}
	}

	// .footer__shoppers
	&__shoppers {
		@include flex ($flex-direction: column);
		gap: 2.8rem;

		@media(max-width:413px) {
			align-items: center;
		}
	}

	// .footer__contact
	&__contact {
		@include flex ($flex-direction: column);
		gap: 2rem;

		@media(max-width:413px) {
			align-items: center;
		}

		li {
			a {
				display: flex;
				align-items: center;
				gap: .3rem;

				&:hover,
				&:focus {
					svg {
						transition: all 0.3s;
						fill: #2F3B3F;
						stroke: #2F3B3F;
						transform: rotate(0deg);
						animation-name: svg-contact;
						animation-duration: 1s;
						animation-timing-function: linear;
						animation-iteration-count: infinite;
					}
				}
			}
		}

		svg {
			@include wh (2rem);
			transition: all 0.3s;
			fill: rgba(47, 59, 63, 0.8);
			stroke: rgba(47, 59, 63, 0.8);
		}
	}

	.btn-modal {
		padding: 1rem 2rem;
		@include font (1.4rem, 1.36);
		margin-top: 3rem;
		align-self: center;
		width: fit-content;
	}

	.social {
		border-top: none;
		padding-top: 0;
		margin-left: 0;
	}
}



/***********Анимация для svg **************/
@keyframes svg-contact {
	0% {
		transform: rotate(-15deg);
	}

	100% {
		transform: rotate(35deg);
	}
}

@keyframes social {
	0% {
		transform: scale(1.2) rotateY(-55deg);
	}

	100% {
		transform: scale(1.1) rotateY(55deg);
	}
}