.characteristics__wrapper {

  @include media(lg) {
    margin-bottom: 7rem;
  }

  &.characteristics__wrapper--top {
    @include media(lg) {
      display: grid;
      grid-template-columns: 41.3% 1fr;
      grid-auto-flow: row;
      gap: 4rem 3.3rem;
    }

    @include media(xxl) {
      gap: 4rem 12.8rem;
    }
  }

  & .tab {
    display: flex;
    align-items: center;
    padding: 2.5rem 2rem 2.5rem 1.5rem;
    border-radius: 8px;
    @include font(2.2rem, 1.36);
    border: 2px solid #83AEAD;
    margin-bottom: 2rem;

    @include media(lg) {
      margin-bottom: 0;
      padding: 1.5rem 2rem 1.5rem 1.5rem;
    }


    & span {
      display: inline-block;
      margin-right: 2.3rem;
      fill: #83AEAD;
    }

    &.tab--active {
      background: #83AEAD;
      margin-bottom: 3rem;

      @include media(lg) {
        margin-bottom: 0;
        grid-column-start: 1;
        grid-column-end: 2
      }

      @include media(xxl) {
        padding-right: 5rem;
      }

      & p {
        color: #fff;
      }

      & span svg {
        fill: #fff;
      }
    }
  }
}

.characteristics__content-box {

  @include media(lg) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .img-profill__box {
    min-width: 12.1rem;
    min-height: 16rem;

    & img {
      width: auto;
    }
  }

  h3 {
    @include font(1.8rem, 1.39, 700);
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    position: relative;

    @include media(lg) {
      font-size: 3rem;
      max-width: 30rem;
    }

    @include media(xxl) {
      font-size: 3.5rem;
    }

    &::after {
      position: absolute;
      content: ' ';
      bottom: 0;
      left: 0;
      height: 1px;
      width: 60%;
      background-color: #83AEAD;
      opacity: .2;

      @include media(lg) {
        width: 156%;
      }
    }
  }

  & p {
    @include font(1.2rem, 1.33);
    margin-bottom: 3rem;

    @include media (lg) {
      font-size: 2.2rem;
      margin-bottom: 0;
    }

    @include media(xxl) {
      font-size: 2.4rem;
    }
  }

}

//! Best
.characteristics__wrapper {
  margin-bottom: 2rem;

  &.characteristics__wrapper--best {
    @include media(lg) {
      display: grid;
      grid-template-columns: 1fr 41.3%;
      grid-template-rows: repeat(4, auto);
      gap: 4rem 3.3rem;
    }

    @include media(xxl) {
      gap: 4rem 12.8rem;
    }

    & .tab.tab--best {
      border: 2px solid #F6CA83;

      &.tab--active {
        background-color: #fff;
        margin-bottom: 2rem;

        @include media(lg) {
          background-color: #F6CA83;
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 1;
          margin-bottom: 0;
        }

        @include media(xxl) {
          padding-right: 5rem;
        }
      }

      & p {
        color: #2F3B3F;
      }

      & span svg {
        fill: initial;
      }
    }

    & span svg {
      fill: initial;
    }

    .characteristics__content-box.characteristics__content-box--best {
      display: none;

      @include media(lg) {
        display: block;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 4;
      }
    }

    .characteristics__button {
      @include media(lg) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-start: 5;
        justify-content: flex-start;
      }
    }
  }
}