.characteristics__wrapper .tab {
  display: flex;
  align-items: center;
  padding: 2.5rem 2rem 2.5rem 1.5rem;
  border-radius: 8px;
  @include font(2.2rem, 1.36);
  border: 2px solid #83AEAD;
  margin-bottom: 2rem;

  & span{
    display: inline-block;
    margin-right: 2.3rem;
    fill: #83AEAD;
  }

  &.tab--active {
    background: #83AEAD;
    margin-bottom: 3rem;
    
    & p{
      color: #fff;
    }

    & span svg{
      fill: #fff;
    }
  }  
}

.characteristics__content-box{
  .img-profill__box{
    min-width: 12.1rem;
    min-height: 16rem;

    & img{
      width: auto;
    }
  }

  h3{
    @include font(1.8rem, 1.39, 700);
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    position: relative;

    &::after{
      position: absolute;
      content: ' ';
      bottom: 0;
      left: 0;
      height: 1px;
      width: 60%;
      background-color: #83AEAD;
      opacity: .2;  
    }
  }

  & p{
    @include font(1.2rem, 1.33);
    margin-bottom: 3rem;
  }
}