.characteristics__wrapper.characteristics__wrapper--best

  .tab.tab--active.tab--best
    span: svg(width="80" height="68")
      use(xlink:href="./wp-content/themes/factory_windows/assets/img/icons/sprite.svg#characteristicsIcon")
    p Трехкамерный профиль Noвel

  .characteristics__content-box.characteristics__content-box--best
    .img-profill__box.img-profill__box--best
      img(src="./wp-content/themes/factory_windows/assets/img/nobel.jpg", alt="Трехкамерный профиль Noвel")
    h3 Трехкамерный профиль Noвel
    p Три камеры профиля блокируют уличный шум и повышают теплоизоляцию 
  .tab.tab--best 
    span: svg(width="80" height="68")
      use(xlink:href="./wp-content/themes/factory_windows/assets/img/icons/sprite.svg#characteristicsIcon")
    p Стеклопакет RS <br> с нано-покрытием
  .tab.tab--best 
    span: svg(width="80" height="68")
      use(xlink:href="./wp-content/themes/factory_windows/assets/img/icons/sprite.svg#characteristicsIcon")
    p Стеклопакет RS <br> с нано-покрытием
  .characteristics__button
    button.btn Заказать звонок
    a.btn--link(href="") Каталог