.banner {
  &__content {
    position: relative;
  }

  &__grid {
    padding: 3rem 0rem 0 10rem;

		@media(max-width:413px){
      padding-left: 0;
    };


    @include media(xlg) {
      padding-left: 17rem;
    }

    @include media(xxl) {
      padding-left: 26.5rem;
    }
  }

  &__box {
    position: relative;

    &::before {
      content: '';
      @include pos (absolute, $bottom:13.5rem, $left:-1rem);
      @include wh (100%, 5.5rem);
      max-width: 4.1rem;
      border: 1px solid #83AEAD;
      border-radius: 10px;
      // z-index: -1;

      @include media (md) {
        @include pos (absolute, $bottom:28rem, $left:-1rem);
      }

      @include media (xlg) {
        @include pos (absolute, $bottom:46rem, $right:-5rem);
        @include wh (100%, 6.5rem);
        max-width: 8.3rem;
      }

      @include media (xxl) {
        @include pos (absolute, $bottom:50.5rem, $right:-5rem);
        height: 8.9rem;
        max-width: 10.3rem;
      }
    }
  }

  &__content h1 {
    color: #fff;
    @include font(2rem, 1.35, 700);
    background-color: #83AEAD;
    max-width: 19rem;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 4rem;
    padding-left: 3rem;
    position: absolute;
    top: -11.5rem;
    left: -13rem;

    @media(max-width:413px){
   left: -3rem;
    }

    @include media(xlg) {
      @include font(4rem);
      padding-top: 2.5rem;
      padding-left: 26rem;
      padding-bottom: 2.6rem;
      max-width: 68rem;
      top: -50.5rem;
      left: -44rem;
    }

    @include media(xxl) {
      @include font(5rem);
      padding-top: 4rem;
      padding-left: 23rem;
      padding-bottom: 4rem;
      max-width: 68rem;
    }
  }

  &__img {
    margin-bottom: 4.1rem;

    @include media(md) {
      margin-bottom: 7.3rem;
    }

    @include media(xxl) {
      margin-bottom: 9.2rem;
      max-width: 85rem;
      height: 57rem;
    }
  }

  &__text {
    @include font(1rem, 1.4);
    min-width: 25rem;
    width: 100%;
    margin-bottom: 7rem;

    @include media(md) {
      @include font(2rem, 1.6);
      margin-bottom: 10rem;
    }

    @include media(xxl) {
      @include font(2.4rem, 1.33);
      margin-bottom: 13rem;
    }
  }

  &__text p:first-child {
    margin-bottom: 2rem;

    @include media(md) {
      margin-bottom: 5rem;
    }
  }

  &__link {
    @include pos (absolute, $bottom:10.5rem, $right:-3rem);
    @include wh (100%, 5.5rem);
    max-width: 4.1rem;
    background-color: #83AEAD;
    border: 3px solid #83AEAD;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/icons/arrow-white.svg);
    transform: translate(-50%, -50%);

    @include media (md) {
      @include pos (absolute, $bottom:25rem, $right:-3rem);
    }

    @include media (xlg) {
      @include pos (absolute, $bottom:43rem, $right:-5rem);
      height: 6.5rem;
      max-width: 8.3rem;
    }

    @include media (xxl) {
      @include pos (absolute, $bottom:46rem, $right:-6rem);
      height: 8.9rem;
      max-width: 10.3rem;
    }

    &:hover,
    &:focus {
      background-color: #116988;
      border-color: #116988;
    }
  }


}