section.history
  .container
    h2 История развития
      h2.title--right Идея и открытие
      .history__item
        .history__item-img-box
          img.history__item-img(src="./wp-content/themes/factory_windows/assets/img/idea.jpg")
        .history__item-text Сначала появилась идея, как создать продукт, который будет вне конкуренции и решит все существующие проблемы наших будущих клиентов. <br> Мы собрали лучшие материалы и лучших партнеров, изучили целевую аудиторию и нашли идеальное соотношение приемлемой цены и отличного качества. <br>  Нашли инвесторов и открылись, рискнув всем.
      h2.title--right Первые клиенты
      .history__item      
        .history__item-text Возникали трудности, но мы с ними справились <br>   и начали получать первых довольных клиентов, которые стали приводить все новых и новых людей. <br> Мы поняли, что страраемся не зря и будем становится только лучше и лучше.
        .history__item-img-box
          img.history__item-img(src="./wp-content/themes/factory_windows/assets/img/client.jpg")
      h2.title--right Создание сайта
      .history__item
        .history__item-img-box
          img.history__item-img(src="./wp-content/themes/factory_windows/assets/img/site.jpg")
        .history__item-text Мы идем в ногу со временем не только <br> в производстве и установке окон, но и во <br> взаимодействии с нашими любимыми клиентами, было принято решение выйти в интернет. <br>  Теперь и нам и клиентам стало намного удобнее общаться и оказывать услуги.