.social {
	display: flex;
	gap: 5.5rem;
	border-top: 1px solid #2F3B3F;
	padding-top: 2.5rem;
	align-self: flex-start;

	@media(max-width:320px){
		gap:3.5rem;
	}

	@media(max-width:25.8rem) {
		align-self: center;
	}

	li {
		width: 3.5rem;
		height: 3.5rem;
	}


	a {
		svg {
			fill: transparent;
			stroke: #2F3B3F;
		}

		&:hover,
		&:focus {
			svg {			
				animation: social 3s infinite linear;
			}
		}
	}
}