.card
  .card__box-img
    img(src="./wp-content/themes/factory_windows/assets/img/window-card.png", alt="Одностворчатое поворотное окно NOBEL Start")
  .card__content
    h3 Одностворчатое поворотное окно NOBEL Start
    span однокамерный стеклопакет
    .card__options
      .card__parametr
        span Высота
        strong 500мм
      .card__parametr
        span Профиль
        strong 60мм
      .card__parametr
        span Ширина
        strong 700мм						
      .card__parametr
        span Цвет
        strong белый
    .card__price.card__price--sale
        h3 2 960 ₽ 
          span.old-price 4 430 ₽
        span В наличие 6шт
        button.btn-modal Заказать