section.catalog-home
	.container
		h2 Каталог
		.catalog-items__box
			//- Каталог
			include ../../bem-blocks/catalog-item/catalog-item-sale
			//- Каталог
			include ../../bem-blocks/catalog-item/catalog-item
			//- Каталог
			include ../../bem-blocks/catalog-item/catalog-item
			//- Каталог		
		a(href="/catalog.html" target="_blank").btns Посмотреть ещё