.measuring {
	padding: 3.2rem 0;
	margin-bottom: 7rem;

	// обертка
	// .measuring__wrapper
	&__wrapper {
		@include flex (space-between, center);
		flex-direction: column;
		gap: 3.2rem;
		width: 100%;

		@include media(lg) {
			flex-direction: row;
			gap: 3rem;
		}
	}

	// .measuring__wrap
	&__wrap {
		display: flex;
		align-items: center;
		gap: 3.1rem;
		width: 100%;

		@include media (lg) {
			gap: 3rem;
		}
	}

	// обертка svg
	// .measuring__box-img
	&__box-img {
		max-width: 6.3rem;	

		@include media (lg) {
			max-width: 8.8rem;
		}

		svg {
			@include wh (100%);
			fill: #2F3B3F;
		}
	}

	// .measuring__content
	&__content {
		h2 {
			@include font (1.5rem, 1.33, 700, left);
			font-family: "Nunito-Bold", sans-serif;
			padding-left: 0;
			margin-bottom: 2rem;

			@include media (md) {
				font-size: 2.6rem;
				margin-bottom: 0;
			}

			@include media (xxl) {
				font-size: 3rem;
			}

			&::after {
				display: none;
			}
		}

		h2 span {
			@include font (1.2rem, 1.33, 600, left);
			font-family: "Nunito-SemiBold", sans-serif;
			display: block;
			padding-top: .5rem;

			@include media (md) {
				font-size: 2.2rem;
			}

			@include media (xxl) {
				font-size: 2.4rem;
			}
		}
	}

	// .measuring__box
	&__box {
		@include flex ($flex-direction: column);
		width: 100%;

		h2 {
			@include font (1.5rem, 1.33, 600, left);
			font-family: "Nunito-SemiBold", sans-serif;
			padding-left: 0;

			@include media (md) {
				font-size: 3rem;			
			}

			&::after {
				display: none;
			}
		}

		h2 span.bold {
			font-weight: 700;
		}
	}

	// форма
	.form {
		display: grid;
		grid-template-columns: repeat(2fr);
		gap: 1rem 2.5rem;
		margin-top: 1.8rem;

		@include media (lg) {
			grid-template-columns: repeat(3fr);
			margin-top: 2rem;
			gap: 1rem 2rem
		}


		input[type="text"] {
			@include font (1.2rem, 1.33, 400);
			font-family: "Nunito-Regular", sans-serif;
			color: rgba(0, 0, 0, 0.3);
			padding: .6rem 2rem;
			width: 100%;
			background-color: #fff;
			border-radius: 5px;
			border: none;
			outline: none;

			@include media (md) {
				font-size: 1.8rem;
				padding: 1rem;
			}
		}

		.input--name {
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 1;
			grid-row-end: 2;
		}

		.input--phone {
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 1;
			grid-row-end: 2;
		}

		.btn-modal {
			grid-column-start: 1;
			grid-column-end: 3;
			grid-row-start: 3;
			grid-row-end: 4;
			@include font (1.4rem, 1.36);
			padding: 1.3rem 3rem;
			margin-top: 2.8rem;
			width: fit-content;
			justify-self: center;

			@include media (md) {
				grid-column-start: 3;
				grid-column-end: 4;
				grid-row-start: 1;
				grid-row-end: 2;
				font-size: 1.8rem;
				padding: 1rem 2rem;
				justify-self: end;
				margin-top: 0;
			}
		}
	}


	// чекбокс
	// .form__policy
	.form__policy {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 3;


		label[for="chec"],
		label[for="chec2"] {
			@include font (1rem, 1.4, 300, left);
			font-family: "Nunito-Light", sans-serif;
			color: rgba(0, 0, 0, 0.5);
			cursor: pointer;
			display: block;
			max-width: 31rem;
			padding-left: 1.8rem;
			position: relative;

			@include media (md){
				font-size: 1.2rem;
			}

			&::before {
				@include pseudo;
				@include wh (1.3rem);
				@include pos (absolute, $top: 0.3rem, $left: 0);
				border: solid 0.1rem #2F3B3F;
				border-radius: 0.3rem;
				transition: 0.5s;
			}

			&::after {
				@include pseudo;
				@include wh (0.5rem, 1rem);
				@include pos (absolute, $top: 0.3rem, $left: 0.4rem);
				border-right: solid 0.2rem transparent;
				border-bottom: solid 0.2rem transparent;
				transform: rotate(42deg);
				transition: 0.5s;
			}
		}

		input:checked+label::after {
			border-right: solid 0.2rem #2F3B3F;
			border-bottom: solid 0.2rem #2F3B3F;
			transform: rotate(42deg);
			transition: 0.5s;
		}

		input:checked+label::before {
			border: 1px solid #2F3B3F;
			transition: 0.5s;
		}

		input:not(:checked),
		input:checked {
			display: none;
		}

		a {
			color: #2f3b3f;
			border-bottom: 1px solid #2f3b3f;
			transition: all 0.3s;
			font-family: "Nunito-Regular", sans-serif;
			font-weight: 400;
		}

		&:hover,
		&:focus {
			a {
				border-bottom: 1px solid transparent;
				transition: all 0.3s;
			}
		}
	}
}
