extends ./../layouts/main

block variables
    - let pageTitle = 'о нас';

block content
    .wrap-feedback
    .wrapper
        include ./../components/sections/header/header
        include ./../components/sections/banner/banner-about
        //- О наших окнах
        include ./../components/sections/about/about
        //- Наши принципы
        include ./../components/sections/principles/principles
        //- Каталог
        include ./../components/sections/features-windows/features-windows
        //- Этапы работы
        include ./../components/bem-blocks/stagesOfWork/stagesOfWork
        //-История развития
        include ./../components/bem-blocks/history/history
        //-сотрудники слайдер
        include ./../components/bem-blocks/employees/employees      
        //- Отзыв
        include ./../components/sections/feedback/feedback
        include ./../components/sections/footer/footer