section.features-windows
    .container 
        h2 Особенности окон
        include ./../../bem-blocks/characteristics/characteristics.pug
        h2.title--best.title--right Premium
        include ./../../bem-blocks/characteristics/characteristicsBest.pug
