.features-windows {
  background-color: #fff;
  padding-top: 3.6rem;

  h2 {
    margin-bottom: 4rem;
  }

  h2.title--best {
    margin-top: 3rem;
  //  align-self: end;
  //  padding-right: 7.1rem;

  //  &::after{
  //    right: 0;
  //    left: initial;
  //  }
  }
}

