.about {
	margin-bottom: 4.4rem;

	& h2 {
		margin-bottom: 2rem;
	}

	// .about__grid
	// &__grid {
	// 	display: grid;
	// 	grid-template-columns: repeat(2, 1fr);
	// 	gap: 5rem 3rem;
	// 	grid-template-areas:
	// 		"box img"
	// 		"button img";

	// 	@include media (xlg) {
	// 		grid-template-areas:
	// 			"box img"
	// 			"box button";
	// 	}
	// }

	// .about__content
	&__content {
		@include flex ($flex-direction: column);
		grid-area: box;
		gap: 3rem;
		margin-bottom: 4.8rem;

		@include media (xlg) {
			gap: 2rem;
		}

		&>p strong {
			font-weight: bold;
		}
	}

	.svg-txt {
		padding-top: 0;
		padding-right: 0;
		gap: 2rem;
		flex-direction: column;

		// .svg-txt__block
		&__block {
			max-width: 55.8rem;
			gap: 4rem;

			@include media (xlg) {
				max-width: 45rem;
				gap: 3rem;
			}

		}

		// .svg-txt__block-svg
		&__block-svg {
			align-self: center;

			svg {
				max-width: 5rem;
			}

		}

		// .svg-txt__content
		&__content {
			gap: 0;

			h4 {
				@include font (1.5rem, 1.33, );
			}

			p {
				@include font (1.2rem, 1.33);
				color: rgba(47, 59, 63, 0.8);
			}
		}
	}

	// .about__box-img
	&__box-img {
		// max-width: 55.8rem;
		border-radius: 5px;
		grid-area: img;
		margin-bottom: 3rem;

		@include media (xlg) {
			max-width: 45rem;
			max-height: 57.9rem;

			img {
				max-height: 57.9rem;
			}
		}
	}
}