.about {
	margin-bottom: 4.4rem;

	@include media (lg) {
		margin-bottom: 10rem;
	}

	& h2 {
		margin-bottom: 2rem;

		@include media (lg) {
			margin-bottom: 7.4rem;
		}
	}

	// .about__grid
	@include media (lg) {
		&__grid {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 0 2rem;
			grid-template-areas:
				"box img"
				"box button";

			@include media (xxl) {
				grid-template-areas:
					"box img"
					"button img";
					column-gap: 5rem;
			}
		}
	}

	// .about__content
	&__content {
		@include flex ($flex-direction: column);
		grid-area: box;
		gap: 3rem;
		margin-bottom: 4.8rem;

		@include media (xxl) {
			gap: 4rem;
		}

		&>p strong {
			font-weight: bold;
		}

		& p {
			@include media (md) {
				font-size: 2.4rem;
			}
		}
	}

	.svg-txt {
		padding-top: 0;
		padding-right: 0;
		gap: 2rem;
		flex-direction: column;

		// .svg-txt__block
		&__block {
			display: flex;
			flex-direction: row;
			align-items:center;			
			gap: 3rem;

			@include media (lg) {
				gap: 2rem;
			}

		}

		// .svg-txt__block-svg
		&__block-svg {
			align-self: center;

			svg {
				max-width: 5rem;
			}

		}

		// .svg-txt__content
		&__content {
			gap: 0;
			width: 100%;	
			
			h4{
				line-height: 1.36;
			}

			p {
				@include font (1.2rem, 1.33);
				color: rgba(47, 59, 63, 0.8);

				@include media (md) {
					font-size: 2.2rem;
				}
			}
		}
	}

	// .about__box-img
	&__box-img {
		// max-width: 55.8rem;
		border-radius: 5px;
		grid-area: img;
		margin-bottom: 3rem;

		@include media (lg) {
			max-height: 61.9rem;		
			height: 100%;
		}

		@include media (xxl){
			max-height: 100%;
			margin-bottom: 0;
		}

		img{
			border-radius: 5px;
		}
	}
}