.principles {
	margin-bottom: 3.6rem;
	padding-bottom: 7rem;

	@include media (lg) {
		margin-bottom: 6.7rem;
		padding-bottom: 10rem;
	}

	& h2 {
		margin-bottom: 2rem;

		@include media (lg) {
			margin-bottom: 5rem;
		}

		@include media (xxl){
			margin-bottom:7.1rem;
		}
	}

	// .principles__flex
	&__flex {
		display: flex;
	}

	&__box-img {
		display: none;

		@include media(lg) {
			display: block;
			flex-basis: 48.4%;
		}
	}

	// .principles__box-content
	&__box-content {
		@include flex ($flex-direction: column);
		flex-grow: 1;

		@include media(lg) {
			flex-shrink: 0;
			flex-basis: 51.6%;
			margin-left: 3rem;
		}
	}

	h3 {
		@include font (1.5rem, 1.33, $text-align: left);
		color: #2F3B3F;
		margin-bottom: 3rem;

		@include media (lg) {
			font-size: 2.4rem;
			margin-bottom: 3.9rem;
		}

		@include media (xxl){
			font-size:3rem;
			margin-bottom:5rem;
		}
	}

	// .princioles__box-img
	&__box-img {
		position: relative;

		img {
			border-radius: 5px;
		}

		&::after {
			@include pseudo;
			@include pos (absolute, $bottom: -1.5rem, $left: -1.5rem);
			@include wh (8rem);
			border: 2px solid #83AEAD;
			border-radius: 10px;
			z-index: -1;

			@include media (xxl){
				@include wh (13.2rem);
			}
		}
	}



	.svg-txt__block+.svg-txt__block {
		position: relative;

		&::after {
			content: "";
			display: block;
			width: 0.1rem;
			height: 3.5rem;
			position: absolute;
			top: -4.3rem;
			left: 2.5rem;
			background-color: #83AEAD;

			@include media (lg) {
				height: 5rem;
				top: -5rem;
				left: 3.4rem;
			}

			@include media (xxl){
			height: 10.9rem;
			top: -8.5rem;
			}
		}
	}

	.svg-txt {
		padding: 0;
		gap: 4.9rem;

		@include media (lg) {
			gap: 4.6 rem;
		}

		@include media (xxl) {
			gap: 6.4rem;
		}

		// .svg-txt__block
		&__block {
			display: flex;
			// max-width: 60rem;
			width: 100%;

			&:hover,
			&:focus {
				transition: all 1s;

				.svg-txt__block-svg {
					animation: svg2 1s linear;
				}

				/********svg*******/
				svg {
					display: inline-block;
					height: 100%;
					transition: all 1s;
					fill: #fff;
					animation: svg2 1s linear;
					transform: scale(1);
				}
			}
		}



		// .svg-txt__block-svg
		&__block-svg {
			@include wh (5rem);
			border-radius: 50%;
			background-color: #83AEAD;
			box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
			@include flex (center, center);
			transition: all 1s;

			@include media (lg) {
				@include wh (6.8rem);
			}

			&:hover,
			&:focus {
				transition: all 1s;
				animation: svg2 1s linear;

				svg {
					animation: svg2 1s linear;
				}
			}

			svg {
				fill: #FFF;

				@include media (lg) {
					width: 3.2rem;
					height: 3.2rem;
				}
			}
		}
	}

	.svg-txt__content {
		@include flex ($flex-direction: column);
		gap: 1rem;
		// max-width: 20.5rem;
		width: 58%;

		@include media(lg) {
			gap: 2rem;
			width: 65%;
		}

		@include media (xxl){
			gap: 3rem;
			width:67%;
		}
	}
}

/***********Анимация для svg **************/
@keyframes svg2 {
	0% {
		fill: #fff;
		transform: scale(1.01);
	}

	35% {
		fill: #fff;
		transform: scale(1.5);
	}

	75% {
		fill: #fff;
		transform: scale(1.01);
	}

	100% {
		fill: #fff;
		transform: scale(1);
	}
}