.button-box {
  margin-bottom: 1rem;
  align-self: flex-end;

  @include media (md) {
    margin-bottom: 2rem;
  }
}

.button-modal--oupen {
  border: none;
  background: transparent;
  border-bottom: 1px solid #2F3B3F;
  justify-self: flex-end;
  @include font(1rem, 1.4);

  @include media (md) {
    @include font(2rem);
  }
}

//! modal

.modal-filter {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-color: rgba(47, 59, 63, 0.5);
  z-index: 10;
  display: none;
}

.is-open {
  display: block;
}
//!modal

.filter__wrap {
  padding: 4rem 2rem 4rem 3rem;
  background: linear-gradient(177.55deg, #FFFFFF 0%, #E6F6FB 76.61%);
  border: 1px solid #2F3B3F;
  border-radius: 1.5rem;
  max-width: 38rem;
  width: 94%;
  position: absolute;
  top: 10%;
  right: 4%;
  z-index: 20;

  @include media(md) {
    width: 100%;
    top: 15%;
    right: 6%;
  }
}



.filter__form {
  z-index: 12;

  &-item {
    position: relative;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    padding-bottom: 2.5rem;

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      margin-bottom: 2.5rem;
    }

    &-wrap {
      display: flex;
      align-items: center;
    }

    & input[type="text"] {
      max-width: 15rem;
      height: 3.2rem;
      font-size: 2rem;
      padding: 0 5px;
      border: 1px solid #2F3B3F;
      border-radius: 5px;
    }

    &-title {
      @include font(2.8rem, 1.6, 600);
      margin-bottom: 2rem;
    }

    li:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    label {
      padding-left: 4rem;
      @include font(2.4rem, 1.375);
    }

    & span {
      @include font(2rem, 1.35);
      display: inline-block;
      padding-right: 1.5rem;
    }
  }

  .form__buttons-wrap {
    @include flex(space-between, center, null, column);
  }

  .filter__button-submit {
    margin-bottom: 3rem;
  }

  //! checkbox

  .filter__form-item li {
    position: relative;
  }

  .filter__form-item li {
    display: flex;
    align-items: center;
  }

  input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding-left: 2rem;
  }

  .checkbox__span {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #2F3B3F;
    border-radius: 4px;
    cursor: pointer;
  }

  label::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: -12%;
    cursor: pointer;
  }

  input[type="checkbox"]:checked+.checkbox__span::before {
    content: "";
    width: 1.7rem;
    height: 1.7rem;
    background-color: #83AEAD;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  input[type="checkbox"]:checked:disabled+.checkbox__span:before {
    background-color: #ccc;
  }
}