section.employees
  .container
    h2 Наши сотрудники
  .employees__content      
      .swiper.employees__slider   
        .swiper-wrapper.employees__swiper-wrapper
          //- 1
          .swiper-slide.employees__slider-item
            .container        
              h3 Наши сотрудники - это наша гордость!
              p Главный критерий при отборе новых сотрудников - хорошо делать и любить свое дело! <br>  Мы регулярно повышаем квалификацию наших сотрудников, чтобы они всегда делали самую качественную работу.
              .employee
                h6 Алексей,
                span замерщик окон,
                span стаж 10 лет
            .employees__slider-img-employee-box
              img(src="./wp-content/themes/factory_windows/assets/img/worker.jpg")
          //-2
          .swiper-slide.employees__slider-item
            .container        
              h3 Наши сотрудники - это наша гордость!
              p Главный критерий при отборе новых сотрудников - хорошо делать и любить свое дело! <br>  Мы регулярно повышаем квалификацию наших сотрудников, чтобы они всегда делали самую качественную работу.
              .employee
                h6 Алексей
                span замерщик окон
                span стаж 10 лет
            .employees__slider-img-employee-box
              img(src="./wp-content/themes/factory_windows/assets/img/worker.jpg")
          //-3
          .swiper-slide.employees__slider-item
            .container        
              h3 Наши сотрудники - это наша гордость!
              p Главный критерий при отборе новых сотрудников - хорошо делать и любить свое дело! <br>  Мы регулярно повышаем квалификацию наших сотрудников, чтобы они всегда делали самую качественную работу.
              .employee
                h6 Алексей
                span замерщик окон
                span стаж 10 лет
            .employees__slider-img-employee-box
              img(src="./wp-content/themes/factory_windows/assets/img/worker.jpg")
          //-4
          .swiper-slide.employees__slider-item
            .container        
              h3 Наши сотрудники - это наша гордость!
              p Главный критерий при отборе новых сотрудников - хорошо делать и любить свое дело! <br>  Мы регулярно повышаем квалификацию наших сотрудников, чтобы они всегда делали самую качественную работу.
              .employee
                h6 Алексей
                span замерщик окон
                span стаж 10 лет
            .employees__slider-img-employee-box
              img(src="./wp-content/themes/factory_windows/assets/img/worker.jpg")
        .swiper-pagination
