h2 {
    @include font (2rem, 1.35, 800, left);
    font-family: "Nunito-ExtraBold", sans-serif;
    color: #2F3B3F;
    align-self: flex-start;
    position: relative;
    padding-left: 7.1rem;

    @include media(md) {
        @include font(4rem);
        padding-left: 20rem;
    }

    &::after {
        @include pseudo;
        @include wh (7rem, 2px);
        @include pos (absolute, $bottom: 49%, $left: 0);
        background-color: rgba(24, 24, 24, 0.5);

        @include media(md) {
            @include wh (17rem, 2px);
        }
    }
}

h2.title--right {
    @include font(1.5rem, 1.33, 800);
    align-self: end;
    padding-right: 7.1rem;

    @include media(md) {     
        padding-right: 20rem;
    }

    &::after {
        right: 0;
        left: initial;
    }
}

h3 {
    font-weight: 700;
    font-family: "Nunito-Bold", sans-serif;
    // color: #FFF;
}

h4 {
    @include font (3rem, 4.1rem, 700, left);
    font-family: "Nunito-Bold", sans-serif;
    color: #2F3B3F;
}

h5 {
    @include font (1.5rem, 1.33, 700);
    font-family: "Nunito-Bold", sans-serif;
    color: #2F3B3F;
}

p {
    font-weight: 400;
    text-align: left;
    font-family: "Nunito-Regular", sans-serif;
    color: #2F3B3F;
}